<div class="container">
<table class="profile" summary="Profile information">
<tr>
	<td class="main">
		<h1>
		<%=gravatar_for @user%>
    	<%= @user.name %>
		</h1>
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any?%>
		<table class="microposts" summary="User microposts">
		<%= render @microposts%>
		</table>
		<%=will_paginate @microposts%>
		<%end%>

	</td>
	<td class="sidebar">
		<table><tr><td class="sidebar inner"><strong>Name</strong></td><td><%= @user.name%></td>	</tr><tr><td class="sidebar inner"><strong>URL</strong></td><td><%= link_to user_path(@user),(@user)%>
			</td></tr>
			<tr><td class="sidebar inner"><strong>Microposts</strong></td><td><%=@user.microposts.count%></td></tr>	
			</table>
			<%= render 'shared/stats' %>
 		</td>
	</tr>
	
</table>
</div>