<% if signed_in? %>
	
	<table class="front" summary="for signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">What's up?</h1>
				<%=render 'shared/micropost_form'%>
				<%=render 'shared/feed'%>
			</td> 
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%=render 'shared/stats' %>
			</td>
		</tr>
	</table>

<% else %>

<h1>Have Fun</h1>
<p>
This is a social networking site... Sign up and start following friends and have feeds from them.</p>
<%=link_to "Sign Up Now!",signup_path, class: "signup_button round"%>
<% end %>